body {
    font-family: 'Helvetica';
    background: #eee;
}

a, h1, h2 {
    color: #377BA8;
}

h1 {
    font-family: 'Georgia';
    border-bottom: 2px solid #eee;
}

h2 {
    font-family: 'Georgia';
    font-size: 1.5em;
}

input[type=text] {
    border: 2px solid #ccc;
    padding: 5px;
    font-size: 1em; 
}

.page {
   margin: 2em auto;
   width: 35em;
   border: 5px solid #ccc;
   padding: 0.8em;
   background: white;
}

.entries {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.entry-title {
    margin-bottom: 0;
}

.entry-info {
    margin-top: 0; 
}

